<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>OpenWorld</h1>
            <p>OpenWorld help you connect and share to other people in your life</p>
        </div>
        <div class="signup-form">
            <form action="" method="">
                <input type="text" placeholder="Enter your email">
                <input type="password" placeholder="Enter your password">
                <button type="submit">Login</button>
            </form>
            <a href="">Forgot your password?</a>
            <a href="/signup">Create an account</a>
        </div>
    </div>
</body>
</html>