<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>
<body>
<form action="login" method="post">
  username: <input type="text" name="username"> <br>
  password: <input type="password" name="password"><br>

  <input type="submit" value="Login">
    <p th:text="${errmsg}" style="color: red"></p>
</form>
</body>
</html>